li {
  background-color: #713837;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  padding: .5em .75em;
  margin-bottom: .3em;
  text-align: center;
  border-color: #f33;
}

nav a:hover {
  background-color: #f33;
  color: #dbd6cf;
  border-color: #dbd6cf;
  text-align: center;
}

html {
  box-sizing: border-box;
  background-color: #dbd6cf;
  line-height: 1.5;
  text-align: center;
}

a {
  color: #fff;
  text-decoration: none;
  font-family: Arial;
  font-weight: bold;
  text-align: center;
}

h1 {
  text-align: center;
  font-family: Bevan, serif;
  color: #fff;
  margin: inherit;
}

*, *::before, *::after {
  box-sizing: inherit;
  text-align: center;
}

body {
  list-style-type: none;
  text-align: center;
  margin: 0;
}

nav {
  text-align: center;
}

header {
  background-color: #79756f;
  border-color: #595652;
}

ul {
  padding: inherit;
}
